.search_input{
  height: 100%;
  padding: 10rpx;
  background-color: var(--themColor);
  navigator{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--themColor);
  }
}